<div class="container-fluid footer py-3 py-md-4">
    <div class="row py-3 px-3 px-md-4 mt-2">
        <div class="col-6 col-lg-3 text-center mb-4 mt-2">
            <h1>America Auto & Truck Salvage</h1>
            <h2>Affordable Used Auto Parts!</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="http://maps.apple.com/?q=939+Aldine+Mail+Rte+Rd,+Houston,+TX+77037" target="_blank"><i class="bi bi-house-fill"></i> 939 Aldine Mail Rte Houston, TX 77037</a>
                </li>
                <li class="list-group-item">
                    <a href="tel:2812600800"><i class="bi bi-telephone-fill"></i> (281) 260-0800</a>
                </li>
                <li class="list-group-item">
                    <a href="tel:2819995178"><i class="bi bi-telephone-fill"></i> (281) 999-5178</a>
                </li>
                <li class="list-group-item"><i class="bi bi-printer-fill"></i> (281) 999-5177</li>
            </ul>
        </div>
        <div class="col-6 col-lg-3 text-center mb-4 mt-2">
            <h1>We hold American-based automotive manufacturers such as</h1>
            <img src="assets/images/pngfind.com-chevy-logo-png-2972976.png" height="45">
            <img src="assets/images/PngItem_1666734.png" height="38">
            <img src="assets/images/28457-6-ford-logo-file.png" height="41">
            <img src="assets/images/pngfind.com-dodge-logo-png-109459.png" height="35">
            <img src="assets/images/PngItem_1486263.png" height="40">
            <img src="assets/images/pngfind.com-chrysler-logo-png-6859289.png" height="42">
            <img src="assets/images/pngfind.com-jeep-grill-logo-png-6828397.png" height="41">
            <img src="assets/images/pngfind.com-lincoln-png-896421.png" height="45">
            <img src="assets/images/pngaaa.com-755456.png" height="45">
            <h1>And more !</h1>
        </div>
        <div class="col-6 col-lg-3 offset-lg-1 text-center mb-4 mt-2">
            <h1>Quick Links</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a routerLink="">Home</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="inventory">Inventory</a>
                </li>
                <li class="list-group-item">
                    <a routerLink="contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg-2 text-center mb-4 mt-2">
            <h1>Social Media</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="https://www.facebook.com/marketplace/profile/100082149150016/?ref=share_attachment" target="_blank"><i class="bi bi-facebook"></i> Facebook</a>
                </li>
                <li class="list-group-item">
                    <a href="http://m.me/maximilianoalvarado401" target="_blank"><i class="bi bi-messenger"></i> Messenger</a>
                </li>
            </ul>
        </div>
    </div>
</div>
